<%- include('../partials/header.ejs') %>
    <div class="container-fluid py-3" style="background-color: #eeeeee;min-height: 90vh;">
        <div class="container bg-light p-lg-4 shadow-sm">
            <h4 class="text-center mb-5 text-dark fw-bold">Create a new channel! </h4>
            
            <form action="/admin/tv/edit-channel" method="post" enctype="multipart/form-data">
                <div class="form-outline mb-4">

                    <input type="text" name="channel_id" value="<%= channel.id %>" id="form7Example13" class="form-control d-none" />

                    <input type="text" name="channel_name" value="<%= channel.channel_name %>" id="form7Example1" class="form-control" required/>
                    <label class="form-label" for="form7Example1">Channel Name *</label>
                  </div>

                <div class="mt-3">
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12 col-md-6">
                            <input accept="image/*" type="file"  name="thumbnail" class="form-control" id="customFile" />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img id="blah" class="img thumbnail border"  src="<%= channel.thumbnails ? channel.thumbnails : '/images/no_prev.jpg' %>" alt="Channel thumbnail" height="100" width="200"/>
                        </div>
                    </div>
                    
                </div>

                <script>
                    customFile.onchange = evt => {
                    const [file] = customFile.files
                    if (file) {
                        blah.src = URL.createObjectURL(file)
                    }
                    }
                </script>
                <div class="form-outline mt-3">
                    <input type="url" name="m3u8_link" value="<%= channel.link %>" id="form7Example1" class="form-control" required/>
                    <label class="form-label" for="form7Example1">Channel m3u8 link *</label>
                  </div>

                <div class="mt-3">
                    <script>
                        function update() {
                            var d = document.getElementById('country');
                            var dText = d.options[d.selectedIndex].text;
                            document.getElementById('category').value = dText
                        }
                    </script>
                    <select id="country" class="py-2 px-4" onchange="update();"
                        style="width: 100%; outline: black">
                        <option class="py-2 px-5">Channel Category *</option>
                        <option class="py-2 px-5" value="Sports" <%= channel.category == 'Sports' ? 'selected' : '' %>>Sports</option>
                        <option class="py-2 px-5" value="Movies" <%= channel.category == 'Movies' ? 'selected' : '' %>>Movies</option>
                        <option class="py-2 px-5" value="News" <%= channel.category == 'News' ? 'selected' : '' %>>News</option>
                        <option class="py-2 px-5" value="Cartoon" <%= channel.category == 'Cartoon' ? 'selected' : '' %>>Cartoon</option>
                    </select>
                    <input id="category" name="category" value="<%= channel.category %>" class="d-none" >
                </div>

                <div class="mt-3 d-flex">
                    <label for="flexCheckDefault">Featured</label>
                    <input name="featured" <%= channel.featured == 'on' ? 'checked' : '' %> class="form-check-input mx-2" type="checkbox" id="flexCheckDefault" />

                    <label for="flexCheckDefault2">From Youtube</label>
                    <input name="youtube" class="form-check-input mx-2"<%= channel.youtube == 'on' ? 'checked' : '' %> type="checkbox" id="flexCheckDefault2" />
                </div>

                <div class="mt-3">
                    <script>
                        function update_paid() {
                            var d = document.getElementById('paid_select');
                            var dText = d.options[d.selectedIndex].text;
                            document.getElementById('paid').value = dText
                        }
                    </script>
                    <select id="paid_select" class="py-2 px-4" onchange="update_paid();"
                        style="width: 100%; outline: black">
                        <option class="py-2 px-5">Paid?</option>
                        <option class="py-2 px-5" <%= channel.paid == 'Free' ? 'selected' : '' %> value="Free">Free</option>
                        <option class="py-2 px-5" value="Silver" <%= channel.paid == 'Silver' ? 'selected' : '' %> >Silver</option>
                        <option class="py-2 px-5" value="Gold" <%= channel.paid == 'Gold' ? 'selected' : '' %>>Gold</option>
                        <option class="py-2 px-5" value="Platinum" <%= channel.paid == 'Platinum' ? 'selected' : '' %>>Platinum</option>
                    </select>
                    <input id="paid" name="paid" value="<%= channel.paid %>" class="d-none" >
                </div>

                <button type="submit" class="btn btn-warning btn-sm-block mt-5">Update</button>

            </form>

        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
        </body>

        </html>